
.Me { position: absolute; left: 0px; top: 0px;width: 1024px; height: 768px; background-color: -2147483643;color:0; font-family:微软雅黑; font-size:9px;background:url(Data/); background-repeat: no-repeat; display:;border:none}
.Layer1 { position: absolute; left: 234px; top: 203px;width: 400px; height: 300px; background-color: -2147483643;color:0; font-family:微软雅黑; font-size:9px;background:url(Data/); background-repeat: no-repeat; display:;border:1px solid gray}
.Button1 { position: absolute; left: 46px; top: 45px;width: 120px; height: 30px; background-color: -2147483643;color:0; font-family:微软雅黑; font-size:12px;background:url(Data/); background-repeat: no-repeat; display:;border:0px solid gray}
.Control1 { position: absolute; left: 142px; top: 114px;width: 120px; height: 30px; background-color: 16777215;color:0; font-family:微软雅黑; font-size:12px;background:url(Data/); background-repeat: no-repeat; display:;border:1px solid gray}





















